<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	th:replace="baseUser::layout(~{::section})">
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
</head>
<body>
	<section>
		<div class="card m-4 ml-3">

			<div class="card-body">

				<h1 class="text-center">UPDATE YOUR DETAILS</h1>

				<div class="container-fluid mt-2">

					<div class="row">

						<div class="col-md-8 offset-md-2">

							<form action="#" th:object="${user}"
								enctype="multipart/form-data" method="POST"
								th:action="@{/user/process-update-user}" class="mt-3">


								<input type="hidden" th:value="${user.userId}" name="cId">

								<!--  Name  -->
								<label>USER NAME</label>
								<div class="input-group">
									<div class="input-group-prepend">
										<div class="input-group-text mr-3">+</div>

									</div>
									<input th:value="${user.name}" type="text" id="name"
										name="name" placeholder="Enter Name" class="form-control"
										required="required" />
								</div>

								<!-- Email  -->
								<label class="mt-3">USER EMAIL</label>
								<div class="input-group ">
									<div class="input-group-prepend">
										<div class="input-group-text mr-3">+</div>

									</div>
									<input th:value="${user.email}" type="text" id="email"
										name="email" placeholder="Enter Name" class="form-control"
										required="required" />
								</div>

								<!-- About  -->
								<label class="mt-3">USER ABOUT</label>
								<div class="input-group ">
									<div class="input-group-prepend">
										<div class="input-group-text mr-3">+</div>

									</div>
									<input th:value="${user.about}" type="text" id="about"
										name="about" placeholder="Enter Name" class="form-control"
										required="required" />
								</div>
								<div class="container text-center mt-3">
									<button class="btn btn-outline-success">SAVE USER</button>
								</div>

							</form>

						</div>

					</div>

				</div>

			</div>
		</div>

	</section>
</body>
</html>